<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <title>
    {{.Site.Title}}
  </title>
  <style>
    :root {
      --accent: red;
    }
  </style>
</head>
<body>
  <header>
    {{partial "nav.html"}}
  </header>
  <main>
    {{block "main" . }}
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    {{end}}
  </main>
  <footer>
    <p>&copy; Juni Kim 2022-2023</p>
  </footer>
</body>
</html>
