{{define "main"}}
<article>
<h1>Intro 2 Unix</h1>
<blockquote>
  <p>there is more Unix-nature in one line of shell script than there is in ten
  thousand lines of C.</p>
  <p><cite>Rootless Root </cite></p>
</blockquote>

<p>
This class aims to help students gain a greater understanding and appreciation
of the tools that underlie modern computing. Although user-centric interfaces have
become engineered, bloated, and unusable, the Unix shell will always be a source
of comfort.
</p>

<p>
Once you
<em>grok</em> Unix, you can begin to explore a plethora of other fields of development
(which I hope to do as well) with relative ease, as you will have learned all of the
skills to excel in them.
</p>

<p>
Intermediate to advanced programming experience (in any particular
language) is almost certainly required. We will be going beyond language
fundamentals and not stop to review them. If you can comfortably and quickly do
ACSL or USACO programming questions, or you've worked on some significant side
project, you're fine.
</p>

<p>
Expect this course to be extremely difficult and frustrating at times. It took
me years of hard work to get to where I am right now, and in order to become
skilled, you will need hours of practice and dedication. Random errors and
not remembering basic tasks will be common, and you are expected to use
your own problem-solving skills (and the power of the internet!) to figure out
how to solve them. Raw intellect is less important than absolute persistence.
</p>

<p>
Remember that stack overflow, youtube, and technical documentation are your
friends, and you should aim to use these resources more over time (and depend
less on me). You are expected to buy a several-hundred-dollar Linux-compatible
computer before joining this class, so you will commit to practicing on a regular
basis. Messing around with your system is highly encouraged, the better if you
break it!
</p>

<p>
Some specific topics will have short homework assignments with them, but many
of them will be intentionally vague and open-ended; I want you to develop
your own understanding of why the tools I teach you matter and how to creatively
use them. In a culinary analogy, this is a class on how to cook, not how to
make a specific pasta!
</p>

<p>
If you are excited about grokking the technology around you and you have
the determination to do so while making fun and useful projects, you are in the
right place. Good luck.
</p>

</article>
{{end}}
